<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head('Administrator')}">
</head>


<body th:replace="~{layout :: base(~{::section})}">
<section>
<div>
    <h2>뉴스 발행처</h2>
    </div>
<table class="table table-striped table-hover">
</head>

<div class="container my-5">
</div>

<tr>
    <th>name</th>
    <th>description</th>
    <th>country</th>
    <th>category</th>
</tr>

<table>
    <thead>
    <tbody>
    <tr th:each="src : ${sources}">
        <td>
            <a th:href="${src.url}" th:text="${src.name}"></a>
        </td>
        <td th:text="${src.description}"></td>
        <td th:text="${src.country}"></td>
        <td th:text="${src.category}"></td>
    </tr>
    </tbody>
    </table>
    </thead>

</table>
</section>
</body>

</html>

